#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

nav{
  padding: 0 2.5rem;
  position: fixed;
  width: 95%;
}

nav ul{
  display: flex;
  list-style: none;
  cursor: pointer;
  align-items: center;
}

.li-img{
  margin-right: auto;
}

ul .li-contacto{
  margin-right: auto; /* Desplaza los elementos hacia la derecha */
}

nav ul li {
    display: flex;
    align-items: center; /* Alinea verticalmente los items */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li .link img {
    height: 75px;
    padding: 0;
}

.btnCart-nav{
    background-color: transparent;
    color: red;
    border: none;
    padding-left: 0.5rem; 
    padding-right: 0;
}

.navButton{
  background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
}

ul .link{
  text-decoration: none;
  color: white;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-main{
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  margin-top: 5rem;
}

.nav-container{
  width: 100%;
}

.boton-login {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
    color: white;
    text-decoration: none;
    margin-left: 1rem;
  }


/* Media Queries */

@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start;
    position: static;
    width: auto;
  }
  
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  
  .li-img {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  
  nav ul li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  nav ul li a {
    width: 100%;
    padding: 10px 15px;
  }
  
  nav ul li .link img {
    height: 55px;
    margin: 0 auto; /* Centra la imagen */
    display: block;
  }

  ul .nav-count-items{
  display: flex;
  justify-content: center;
}

  .btnCart-nav{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .btnLogin-nav{
    
    color: aqua;
  }

  .navButton{
    width: 50%;
    text-align: center;
    margin: 0.5rem auto 1.5rem auto;
}


  .home-main{
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  margin-top: 1rem;
  }

  .boton-login {
    color: white;
    text-decoration: none;
    width: fit-content;
    margin: 1.5rem auto 1.5rem auto;
    padding: 0 2rem;
  }
}